<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSP7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 여기다가 적어주기 -->
  <!-- 1.  -->
  <servlet>
  	<!-- 3. -->
  	<servlet-name>ItwillServlet</servlet-name>
  	<!-- 4. -->
  	<servlet-class>com.itwillbs.servlet.ItwillServlet</servlet-class>
  					<!-- 여기에 있다!! -->
  </servlet>
  
  <!-- 2. -->
  <servlet-mapping>
  	<!-- 5. -->
  	<servlet-name>ItwillServlet</servlet-name>
  	<!-- 6. -->
  	<url-pattern>/busan.com</url-pattern> 
  				<!-- 이 주소 호출이 들어오면, ItwillServlet을 호출할거임  -->
  										<!--   ㄴ얘가 어딨는데? -->
  </servlet-mapping>
  
</web-app>